/boot/data
/boot/software
/data
/model
/output
/report
*.Rproj
.RData
.Rhistory
.Rproj.user
.Ruserdata

# taf stuff to ignore
/boot/data/
/boot/config/
/boot/library/
/boot/software/
/data/
/model/
/output/
/report/
/shiny/
